*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-info{
    position: relative;
    width: 679px;
    height: 59vh;
    display: flex;
    justify-content: center;
    gap: 3.9rem;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 37px whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 1rem;
}
.img-product{
    width: 311px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-product img{
    width: 100%;
    animation: rotate 2s ease-in infinite alternate;
}
.heading{
    font-size: 2rem;
    color: rgb(67, 67, 67);
}
.price{
    font-size: 1.5rem;
    color: rgb(67, 67, 67);
}
.wrap-air{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    align-items: center;
}
.btn{
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 1.2rem;
    padding: 0.6rem 1.5rem;
    color: gray;
    animation: btn-scale 1s ease-in infinite alternate;
}
.btn:hover{
    background-color: transparent;
    animation-play-state: paused;
    color: whitesmoke;
    outline: 2px solid whitesmoke;
    cursor: pointer;
}
.img-product img:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes btn-scale {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.1);
    }
}
@keyframes rotate {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(90deg) scale(1.1);
    }
}
/* @keyframes rotate {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(20px);
    }
} */
@media screen and (max-width: 687px){
    .container-info{
        width: 80%;
        height: 80%;
        padding: 1rem;
        flex-direction: column;
    }
    .img-product{
        align-items: flex-start;
    }
    .img-product > img{
        width: 70%;
    }
    .detail{
        width: 80%;
        height: 32%;
        position: absolute;
        gap: 1.7rem;
        top: 62%;
    }
    .btn{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}